.App {
  background-color: #0B1A2F;
  padding-left: 60px;
  color: white;
  font-family: "Roboto"
}

.aboutMe{
  text-align: left;
  padding-top: 20px;
}
.test{
  width: 50%
}

.projectSearch{
  display: flex;
  flex-direction: row;
}

.border{
  border-top: 2px solid #1c2737;
  width: 70%
}

.titleProj{
  font-size: 28px;
  color: rgb(104, 210, 255);
}

.searchBar{
 height: 20px; 
 color: rgb(104, 210, 255);
 background-color: #0B1A2F;
 border: 2px solid rgb(104, 210, 255);
 border-radius: 4px;
 margin-top: 48px;
 margin-left: 16px;

}
.headshot{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
  text-decoration: none;
  color: black;
  font-style: italic;
}

.top{
  margin: 0 auto;
}

.borderTop{
  border-bottom: 3px black solid;
}

p > .mailTo {
  color: rgb(104, 210, 255);
}

.box{
  margin-bottom: 60px;
  width: 70%;
  border-top: 2px solid #1c2737;
}

.project{
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.hi{
  padding-top: 28px;
}

.name{
  font-weight: bold;
  font-size: 36px;
  padding-top: 12px;
}

.me{
  padding-top: 12px;
  font-size: 36px;
  color: #059DF2
}

.bio{
  font-size: 16px;
  padding-top: 12px;
}

.box2{
  display: flex;
  flex-direction: row;
}

.box3{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box4{
  display: flex;
  flex-direction: row;
}

.imageLinks1{
  width: 40px;
  height: 34px;
  border-radius: 5px;
  border: 2px solid rgb(104, 210, 255);
}

.imageLinks2{
  width: 40px;
  height: 34px;
  border-radius: 5px;
  border: 2px solid rgb(104, 210, 255);
  margin-left: 50px
}

.imageLinks3{
  width: 40px;
  height: 34px;
  border-radius: 5px;
  border: 2px solid rgb(104, 210, 255);
  margin-left: 50px
}             

.imageLinks4{
  width: 50px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid rgb(104, 210, 255)
}

.projTitle{
  padding-left: 10px;
  display: grid;
  grid-template-columns: 30% 70%
}

.projLink{
  margin-top: 9px;
  margin-left: 16px
}

.launchButton{
  background-color: #0B1A2F;
  border: 2px solid rgb(104, 210, 255);
  border-radius: 5px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.launchButton2{
  background-color: #0B1A2F;
  border: 2px solid rgb(104, 210, 255);
  border-radius: 5px;
  margin-left: 50px;
}

.titleProj{
  padding-top: 20px;
}

.buttonLink{
  margin-left: 10px;
}

.linksAbout{
display: flex;
flex-direction: row;
}

.projectImage{
  width: 300px;
  height: 200px;
}

.projectInfo{
  text-align: left;
  padding-left: 20px;
}

button{
  background-color: rgb(5, 69, 151);
  color: white;
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .test{
    width: 70%
  }
    
}
@media only screen and (max-width: 600px) {
  .box2{
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .box4{
    display: flex;
    align-content: left;
    justify-content: left;
  }
  .projectInfo{
    text-align: left;
  }
  .project{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .projectImage{
    width: 200px;
    height: 100px;
    padding-left: 20px
  }
  .test{
    width: 90%
  }
  .App{
    padding-left: 10px;
  }
  .projectSearch{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    max-width: 200px;
  }
  .titleProj{
    padding-left: 20px;
  }
  .searchBar{
 height: 20px; 
 color: rgb(104, 210, 255);
 background-color: #0B1A2F;
 border: 2px solid rgb(104, 210, 255);
 border-radius: 4px;
 margin-right: 16px;
}
.box{
  margin-bottom: 60px;
  width: 90%;
  border-top: 2px solid #1c2737;
}
}
@media only screen and (max-width: 400px) {
  .imageLinks1{
    width: 30px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid rgb(104, 210, 255);
    margin-left: 20px
  }
  
  .imageLinks2{
    width: 30px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid rgb(104, 210, 255);
    margin-left: 20px
  }
  
  .imageLinks3{
    width: 30px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid rgb(104, 210, 255);
    margin-left: 20px
  } 
  .launchButton{
    background-color: #0B1A2F;
    border: 2px solid rgb(104, 210, 255);
    border-radius: 5px;
    margin-left: 20px;
    height: 30px;
    width: 80px;
    padding: 0px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (prefers-reduced-motion: no-preference) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.foot{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a{
  text-decoration: none;
  color: black;
  font-style: italic;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
